{% extends "layout.html" %}
{% block title %}
{{ project.RFC }}
{% endblock %}

{% block body %}

{% macro star(phase) %}

{% if phase == 'proposal' %}
style="background:#c0aecd; " title="Proposal Phase" {% elif phase == 'draft' %}
style="background:#f0ad4e; " title="Draft Phase" {% elif phase == 'aip' %}
style="background:#cc1b00; " title="In Approval" {% elif phase == 'build' %}
style="background:#5cb85c; " title="Build Phase" {% elif phase == 'prod' %}
style="background:#337ab7; " title="Production Phase" {% elif phase == 'decommission' %}
style="background:black; " title="Decommission Phase" {% endif %}

{% endmacro %}
<div class="hidden" id="sbf_profile-settings" data-custom_profile_settings="{{ custom_profile_settings | JsonDump }}"></div>

<div class="row">
	<div class="col-md-12"
			style="margin-bottom: 7px; height: 30px; ">

		{% if filters.filter_projectid %}
			{% if project.RFC %}
				<a class="btn btn-sm btn-default"
				 href="{{ url_for('projectmanager.project', projectid=filters.filter_projectid, page=page, **filters) }}">
					{% if project.project_lock == True %}
					<span class="glyphicon glyphicon-lock"></span>
					{% else %}
					<span class="glyphicon glyphicon-edit"></span>
					{% endif %}
					<b>
						Project #{{ filters.filter_projectid }}
						{{project.RFC}}
					</b>
				</a>
			{% else %}
				<a class="btn btn-sm btn-default"
				 href="{{ url_for('proposalmanager.proposal', proposalid=filters.filter_projectid, page=page, **filters) }}">
					{% if project.project_lock == True %}
					<span class="glyphicon glyphicon-lock"></span>
					{% else %}
					<span class="glyphicon glyphicon-edit"></span>
					{% endif %}
					<b>
						Proposal #{{ filters.filter_projectid }}
						{{project.sapcrm and project.sapcrm.proposal_id}}
					</b>
				</a>
			{% endif %}
		{% else %}

		<div style="font-size: 16px; padding-top: 10px; float: left;">
			Server Build Form List
		</div>

		{% endif %}
		<div class="btn-group"
			 style="float: right; margin-left: 5px; padding-right: 10px;">
			 <div class="has-feedback" style="inline-block; float:left; ">
				<input style="display:none; "
				id="sbflist_profile_technicians_contact_name"
				placeholder="SBF owner"
				name="filter_technicians_contact_name:map:project"
				type="text"
				class="form-control filterableval input-sm">
				<span class="glyphicon glyphicon-remove form-control-feedback sbf filter-rem-profile-btn" style="padding-right: 10px;"></span>
			</div>
			<button	 type="button"
					 style="margin-left: 10px;"
					 class="btn btn-sm"
					 title="Export displayed page on screen."
					 data-toggle="modal"
					 data-for="Displayed Page"
					 data-table-row=sbf-row
					 data-target="#modalExport"
					 data-td-export>
				<span class="glyphicon glyphicon-export"></span> Export
			</button>
			<button type="button"
					 class="btn btn-sm btn-info dropdown-toggle"
					data-toggle="dropdown"
	 				title="Additional Export Functions">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu dropdown-menu-right">
				<li>
					<a href="{{ url_for('sbfmanager.export_sbfs', **filters) }}">All</a>
				</li>
				<li>
					<a href="{{ url_for('sbfmanager.commissioned_sbfs', **filters) }}">Commissioned Servers</a>
				</li>
				<li>
					<a href="{{ url_for('sbfmanager.decommissioned_sbfs', **filters) }}">Decommissioned Servers</a>
				</li>
				<li>
					<a href="{{ url_for('sbfmanager.server_models_sbfs', **filters) }}">Server Models</a>
				</li>
				<li>
					<a href="{{ url_for('sbfmanager.released_sbfs', **filters) }}">Released Servers</a>
				</li>
				<li>
					<a href="#"
						data-toggle="modal"
						data-target="#modalExportCpuTypes">CPU Types</a>
				</li>
				{% if filters.filter_projectid %}
				<li>
					<a href="{{ url_for('sbfmanager.sbf_export_ui', content='license', projectid=filters.filter_projectid) }}">Project Licenses</a>
				</li>
				{% else %}
				<li class="disabled">
					<a href="#">Project Licenses</a>
				</li>
				{% endif %}
			</ul>
		</div>
		{% if filters.filter_projectid %}
		<a class="btn btn-sm btn-primary"
			id="add_sbf_btn"
			href="{{ url_for('sbfmanager.sbf', sbfid='!new', action='detail', page=page, **filters) }}"
			style="float: right; margin-left: 5px; "
			{% if project.project_lock or project.proposal_lock or not (project.RFC or (project.sapcrm and project.sapcrm.sap_crm_status not in ['won', 'lost', 'withdrawn'])) %}
			disabled
			{% endif %}>
			<span class="glyphicon glyphicon-plus"></span> Add SBF
		</a>
		<a class="btn btn-sm btn-default"
			href="{{ url_for('projectmanager.project', **rfcfilter) }}"
			style="float: right; margin-left: 5px; ">
			<span class="glyphicon glyphicon-list"></span> RFC list
		</a>
		{% endif %}
	</div>
</div>

<div class="row" style="font-size:12px;">
	<div class="col-md-12">
		<table class="table table-condensed table-hover" style="margin-bottom: 0px;" id="sbflist_table">
			<thead>
				<!-- Row 1 -->
				<tr class="yellow-gradient">
					<!--  0  -->
					{% if filters.filter_projectid %}
					<th class="text-center">
						<span class="glyphicon glyphicon-check"></span>
					</th>
					{% endif %}
					<!--  1  -->
					<th name="_id">
						ID
						<a href="" class="sort-submitval" data-sort="_id">
							<span class="sort-btn badge btn-primary glyphicon glyphicon-sort"> </span>
						</a>
					</th>
					<!--  2  -->
					<th name="com_rfc_no">
						<abbr title="Commissioning RFC">CRFC</abbr>
						<a href="" class="sort-submitval" data-sort="com_rfc_no">
							<span class="sort-btn badge btn-primary glyphicon glyphicon-sort"> </span>
						</a>
					</th>
					<!--  3  -->
					<th name="phase">
						Phase
						<a href="" class="sort-submitval" data-sort="phase">
							<span class="sort-btn badge btn-primary glyphicon glyphicon-sort"> </span>
						</a>
					</th>
					<!--  4  -->
					<th name="project_server_name">
						Project Server Name
						<a href="" class="sort-submitval" data-sort="project_server_name">
							<span class="sort-btn badge btn-primary glyphicon glyphicon-sort"> </span>
						</a>
					</th>
					<!--  5  -->
					<th name="server_hostname">
						Hostname
						<a href="" class="sort-submitval" data-sort="server_hostname">
							<span class="sort-btn badge btn-primary glyphicon glyphicon-sort"> </span>
						</a>
					</th>
					<!--  6  -->
					<th name="location">
						<abbr title="Location (filterable), Server Purpose">Loc.</abbr>
					</th>
					<!--  7  -->
					<th name="server_env">
						<abbr title="Env. (filterable), Server Environment">Env.</abbr>
						<a href="" class="sort-submitval" data-sort="server_env">
							<span class="sort-btn badge btn-primary glyphicon glyphicon-sort"> </span>
						</a>
					</th>
					<!--  8  -->
					<th name="platform">
						<abbr title="Platform">Platf.</abbr>
						<a href="" class="sort-submitval" data-sort="platform">
							<span class="sort-btn badge btn-primary glyphicon glyphicon-sort"> </span>
						</a>
					</th>
					<!--  9  -->
					<th name="release">
						Release
						<a href="" class="sort-submitval" data-sort="release">
							<span class="sort-btn badge btn-primary glyphicon glyphicon-sort"> </span>
						</a>
					</th>
					<!--  10  -->
					<th name="server_model">
						HW
						<a href="" class="sort-submitval" data-sort="server_model">
							<span class="sort-btn badge btn-primary glyphicon glyphicon-sort"> </span>
						</a>
					</th>
					<!--  11  -->
					<th name="server_usage">
						Usage
						<a href="" class="sort-submitval" data-sort="server_usage">
							<span class="sort-btn badge btn-primary glyphicon glyphicon-sort"> </span>
						</a>
					</th>
					<!--  12  -->
					<th name="vlan-type">
						VLAN
						<a href="" class="sort-submitval" data-sort="vlan-type">
							<span class="sort-btn badge btn-primary glyphicon glyphicon-sort"> </span>
						</a>
					</th>
					<!--  13  -->
					<th name="total_nr_of_cores">
						<abbr title="Total Number of Cores">Cs.</abbr>
						<a href="" class="sort-submitval" data-sort="total_nr_of_cores">
							<span class="sort-btn badge btn-primary glyphicon glyphicon-sort"> </span>
						</a>
					</th>
					<!--  14  -->
					<th name="cputype">
						<abbr title="CPU Type">CPU</abbr>
						<a href="" class="sort-submitval" data-sort="cputype">
							<span class="sort-btn badge btn-primary glyphicon glyphicon-sort"> </span>
						</a>
					</th>
					<!--  15  -->
					<th name="ram">
						RAM
						<a href="" class="sort-submitval" data-sort="ram">
							<span class="sort-btn badge btn-primary glyphicon glyphicon-sort"> </span>
						</a>
					</th>
					<!--  16  -->
					<th name="os_hdd_size_real">
						<abbr title="Disk Size for OS in GB">OS</abbr>
						<a href="" class="sort-submitval" data-sort="os_hdd_size_real">
							<span class="sort-btn badge btn-primary glyphicon glyphicon-sort"> </span>
						</a>
					</th>
					<!--  17  -->
					<th name="data_hdd_size_real">
						<abbr title="Disk Size for Data in GB">Data</abbr>
						<a href="" class="sort-submitval" data-sort="data_hdd_size_real">
							<span class="sort-btn badge btn-primary glyphicon glyphicon-sort"> </span>
						</a>
					</th>
					<!--  18  -->
					<th name="clusterId" class="text-center">
						<abbr title="Cluster ID (filterable) and cluster details">Cluster</abbr>
						<a href="" class="sort-submitval" data-sort="clusterId">
							<span class="sort-btn badge btn-primary glyphicon glyphicon-sort"> </span>
						</a>
					</th>
					<!--  19 -->
					<th name="delayed_why">
						<abbr title="Delayed Why">Delayed Why</abbr>
						<a href="" class="sort-submitval" data-sort="delayed_why">
							<span class="sort-btn badge btn-primary glyphicon glyphicon-sort"> </span>
						</a>
					</th>
					<!--  20  -->
					<th name="aredate">
						<abbr title="Builds ARE completed date">ARE Date</abbr>
						<a href="" class="sort-submitval" data-sort="aredate">
							<span class="sort-btn badge btn-primary glyphicon glyphicon-sort"> </span>
						</a>
					</th>
					<!--  21  -->
					<th name="srm_requested">
						<abbr title="VM DR (SRM) requested">VM DR</abbr>
						<a href="" class="sort-submitval" data-sort="srm_requested">
							<span class="sort-btn badge btn-primary glyphicon glyphicon-sort"> </span>
						</a>
					</th>
					<!--  22  -->
					<th name="fitCloud">
						<abbr title="Fit to Cloud, F-Full, P-Partial">Fit Cloud</abbr>
					</th>
					<!--  23  -->
					<th name="tiers">
						<abbr title="Size of T0, T1, T2, T3, T4 in GB">Tiers</abbr>
					</th>
					<!--  24  -->
					<th name="shared">
						<abbr title="Storage shared in the cluster in GB">Shared</abbr>
					</th>
					<!--  25 settings  -->
					<th style="min-width: 130px;"></th>
					<!-- 26 -->
					<th style="width: 1px; min-width: 1px;"></th>
				</tr>

				<!-- Row 2 -->
				<tr name="filters-row" class="danger">
					<!--  0  -->
					{% if filters.filter_projectid %}
					<th>
						<label class="btn btn-default btn-xs"
							style="border-radius: 1px; "
							title="Mark all">
							<input type="checkbox"
							class="rowcheck-all">
						</label>
					</th>
					{% endif %}
					<!--  1  -->
					<th class="table-tight" name="_id">
						<div class="has-feedback">
							<input style="display:none; "
							name="filter__id:int"
							type="text"
							class="form-control filterableval input-sm">
							<span class="glyphicon glyphicon-remove form-control-feedback filter-rem-profile-btn"></span>
						</div>
					</th>
					<!--  2  -->
					<th class="table-tight" name="com_rfc_no">
						<div class="has-feedback">
							<input style="display:none;"
							name="filter_com_rfc_no"
							type="text"
							class="form-control filterableval input-sm">
							<span class="filter-rem-profile-btn glyphicon glyphicon-remove form-control-feedback"></span>
						</div>
					</th>
					<!--  3  -->
					<th class="table-tight" name="phase">
						<div class="has-feedback">
							<select style="display:none;" class="form-control filterableval input-sm" name="filter_phase">
								<option value=""></option>
								<option value='proposal'>Proposal Phase</option>
								<option value='draft'>Draft Phase</option>
								<option value='aip'>In Approval</option>
								<option value='build'>Build Phase</option>
								<option value='prod'>Production Phase</option>
								<option value='decommission'>Decommission Phase</option>
							</select>
						</div>
					</th>
					<!--  4  -->
					<th class="table-tight" name="project_server_name">
						<div class="has-feedback">
							<input style="display:none;"
							name="filter_project_server_name"
							type="text"
							class="form-control filterableval input-sm">
							<span class="filter-rem-profile-btn glyphicon glyphicon-remove form-control-feedback"></span>
						</div>
					</th>
					<!--  5  -->
					<th class="table-tight" name="server_hostname">
						<div class="has-feedback">
							<input style="display:none;"
							name="filter_server_hostname"
							type="text"
							class="form-control filterableval input-sm">
							<span class="filter-rem-profile-btn glyphicon glyphicon-remove form-control-feedback"></span>
						</div>
					</th>
					<!--  6  -->
					<th class="table-tight" name="location">
						<div class="has-feedback">
							<input style="display:none;"
							name="filter_location"
							type="text"
							class="form-control filterableval input-sm">
							<span class="filter-rem-profile-btn glyphicon glyphicon-remove form-control-feedback"></span>
						</div>
					</th>
					<!--  7  -->
					<th class="table-tight" name="server_env">
						<div class="has-feedback">
							<input style="display:none;"
							name="filter_server_env"
							type="text"
							class="form-control filterableval input-sm">
							<span class="filter-rem-profile-btn glyphicon glyphicon-remove form-control-feedback"></span>
						</div>
					</th>
					<!--  8  -->
					<th class="table-tight" name="platform">
						<div class="has-feedback">
							<input style="display:none;"
							name="filter_platform"
							type="text"
							class="form-control filterableval input-sm">
							<span class="filter-rem-profile-btn glyphicon glyphicon-remove form-control-feedback"></span>
						</div>
					</th>
					<!--  9  -->
					<th class="table-tight" name="release">
						<div class="has-feedback">
							<input style="display:none;"
							name="filter_release"
							type="text"
							class="form-control filterableval input-sm">
							<span class="filter-rem-profile-btn glyphicon glyphicon-remove form-control-feedback"></span>
						</div>
					</th>
					<!--  10  -->
					<th class="table-tight" name="server_model">
						<div class="has-feedback">
							<input style="display:none;"
							name="filter_server_model"
							type="text"
							class="form-control filterableval input-sm">
							<span class="filter-rem-profile-btn glyphicon glyphicon-remove form-control-feedback"></span>
						</div>
					</th>
					<!--  11  -->
					<th class="table-tight" name="server_usage">
						<div class="has-feedback">
							<input style="display:none;"
							name="filter_server_usage"
							type="text"
							class="form-control filterableval input-sm">
							<span class="filter-rem-profile-btn glyphicon glyphicon-remove form-control-feedback"></span>
						</div>
					</th>
					<!--  12  -->
					<th class="table-tight" name="vlan-type">
						<div class="has-feedback">
							<input style="display:none;"
							name="filter_vlan-type"
							type="text"
							class="form-control filterableval input-sm">
							<span class="filter-rem-profile-btn glyphicon glyphicon-remove form-control-feedback"></span>
						</div>
					</th>
					<!--  13  -->
					<th class="table-tight" name="total_nr_of_cores">
						<div class="has-feedback">
							<input style="display:none;"
							name="filter_total_nr_of_cores:int"
							type="text"
							class="form-control filterableval input-sm">
							<span class="filter-rem-profile-btn glyphicon glyphicon-remove form-control-feedback"></span>
						</div>
					</th>
					<!--  14  -->
					<th class="table-tight" name="cputype">
						<div class="has-feedback">
							<input style="display:none;"
							name="filter_cputype"
							type="text"
							class="form-control filterableval input-sm">
							<span class="filter-rem-profile-btn glyphicon glyphicon-remove form-control-feedback"></span>
						</div>
					</th>
					<!--  15  -->
					<th class="table-tight" name="ram">
						<div class="has-feedback">
							<input style="display:none;"
							name="filter_ram:int"
							type="text"
							class="form-control filterableval input-sm">
							<span class="filter-rem-profile-btn glyphicon glyphicon-remove form-control-feedback"></span>
						</div>
					</th>
					<!--  16  -->
					<th class="table-tight" name="os_hdd_size_real">
						<div class="has-feedback">
							<input style="display:none;"
							name="filter_os_hdd_size_real"
							type="text"
							class="form-control filterableval input-sm">
							<span class="filter-rem-profile-btn glyphicon glyphicon-remove form-control-feedback"></span>
						</div>
					</th>
					<!--  17  -->
					<th class="table-tight" name="data_hdd_size_real">
						<div class="has-feedback">
							<input style="display:none;"
							name="filter_data_hdd_size_real"
							type="text"
							class="form-control filterableval input-sm">
							<span class="filter-rem-profile-btn glyphicon glyphicon-remove form-control-feedback"></span>
						</div>
					</th>
					<!--  18  -->
					<th class="table-tight" name="clusterId">
						<div class="has-feedback">
							<input title="Filter on Cluster ID"
							style="display:none;"
							name="filter_clusterId"
							type="text"
							class="form-control filterableval input-sm">
							<span class="filter-rem-profile-btn glyphicon glyphicon-remove form-control-feedback"></span>
						</div>
					</th>
					<!--  19  -->
					<th class="table-tight" name="delayed_why">
						<div class="has-feedback">
							<input title="Filter on Delayed Why"
								   style="display:none;"
								   name="filter_delayed_why"
								   id="filter_delayed_why"
								   type="text"
								   class="form-control filterableval input-sm">
							<span class="filter-rem-profile-btn glyphicon glyphicon-remove form-control-feedback"></span>
						</div>
					</th>
					<!--  20  -->
					<th class="table-tight" name="aredate">
						<div class="has-feedback">
							<input style="display:none; cursor:pointer; "
							name="filter_aredate:date"
							 readonly
							 id="filter_aredate"
							 type="text"
							 class="form-control filterableval input-sm">
							<span class="filter-rem-profile-btn glyphicon glyphicon-remove form-control-feedback"></span>
						</div>
					</th>
					<!--  21  -->
					<th class="table-tight" name="srm_requested">
						<div class="has-feedback">
							<select hidden class="form-control filterableval input-sm" name="filter_srm_requested:bool">
								<option value=""></option>
								<option value='true'>YES</option>
								<option value='false'>NO</option>
							</select>
						</div>
					</th>
					<!--  22  -->
					<th class="table-tight" name="fitCloud">
						<div class="has-feedback">
							<select style="display:none;" class="form-control filterableval input-sm" name="filter_fitCloud">
								<option value=""></option>
								<option value='NO'>NO</option>
								<option value='YES F'>YES F</option>
								<option value='YES P'>YES P</option>
							</select>
						</div>
					</th>
					<!--  23  -->
					<th class="table-tight" name="tiers"></th>
					<!--  24  -->
					<th class="table-tight" name="shared"></th>
					<!--  25 settings  -->
					<th style="padding-top: 2px; padding-bottom: 2px; min-width: 130px;">
						<div class="btn-group" style="float:right; padding-bottom: 5px; padding-top: 5px;">
						<button type="button" id="sbflist_filter_rem_btn" class="btn btn-sm btn-default"
							style="float: left; height: 26px; border-radius: 1px; padding: 5px; margin-right: 5px;"
							title="Remove all SBF filter criteria">
							<span class="glyphicon glyphicon-remove" style="color: black; "></span>
						</button>
						<div class="btn-group" style="float: right; min-width: 75px;">
							<button type="button" id="sbflist_config_btn" class="btn btn-sm" name="profile_config_btn"
								title="Profile SBF Configuration" data-toggle="modal" data-target="#sbflist_config"
								style="height: 26px;">
								<span class="glyphicon glyphicon-cog"></span>
							</button>
							<button type="button" class="btn btn-sm btn-info dropdown-toggle" data-toggle="dropdown"
					 			title="Menu" style="height: 26px; ">
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu dropdown-menu-right">
								<li>
									<a href="{{ url_for('sbflist_config.sbf_switch_profile', page=page, **filters ) }}">Switch Profile Settings
										<span class="glyphicon glyphicon-retweet"></span>
									</a>
								</li>
								<li id="sbf_delete_custom_profile">
									<a href="#"
										data-toggle="modal"
										data-target="#modalDeleteProfileSBFConfirm"
										data-confirm-msg="Your custor profile has been deleted"
										>Delete Profile Settings
										<span class="glyphicon glyphicon-remove"></span>
									</a>
								</li>
							</ul>
						</div>
						</div>
					</th>
					<!-- 26 -->
					<th style="width: 1px; min-width: 1px;"></th>
				</tr>
			</thead>

			<tbody>
				{% for sbf in sbfs %}
				<tr class="sbf-row"
					data-href="{{ url_for('sbfmanager.sbf', _anchor='t-general', sbfid=sbf._id, action='detail', page=page, **filters) }}">
					{% if filters.filter_projectid %}
					<!--  0  -->
					<td>
						<label class="btn btn-default btn-xs"
							style="border-radius: 1px; ">
							<input type="checkbox"
							class="rowcheck"
							data-sbfid="{{ sbf._id }}">
						</label>
					</td>
					{% endif %}
					<!--  1  -->
					<td name="_id">
						{{ sbf._id }}
					</td>
					<!--  2  -->
					<td class="table-tight" name="com_rfc_no">
						{{ sbf.com_rfc_no }}
					</td>
					<!--  3  -->
					<td class="table-tight" name="phase">
						<span {{ star(sbf.phase) }} class="glyphicon sbfstar glyphicon-tags"></span>
						{% if sbf.get('phase', '') == 'proposal' %}
						Proposal{% endif %}
						{% if sbf.get('phase', '') == 'draft' %}
						Draft{% endif %}
						{% if sbf.get('phase', '') == 'aip' %}
						Appr.{% endif %}
						{% if sbf.get('phase', '') == 'build' %}
						Build{% endif %}
						{% if sbf.get('phase', '') == 'prod' %}
						Prod.{% endif %}
						{% if sbf.get('phase', '') == 'decommission' %}
						Deco.{% endif %}
					</td>
					<!--  7  -->
					<td class="table-tight" name="project_server_name">
						{{ sbf.project_server_name }}
					</td>
					<!--  7  -->
					<td class="table-tight" name="server_hostname">
						{{ sbf.server_hostname }}
					</td>
					<!--  9  -->
					<td class="table-tight" name="location">
						{{ sbf.location }}
						<br>
						{{ sbf.server_purpose }}
					</td>
					<!--  10  -->
					<td class="table-tight" name="server_env">
						{{ sbf.server_env }}
					</td>
					<!--  11  -->
					<td class="table-tight" name="platform">
						{{ sbf.platform }}
					</td>
					<!--  12  -->
					<td class="table-tight" name="release">
						{{ sbf.release }}
					</td>
					<!--  13  -->
					<td class="table-tight" name="server_model">
						{{ sbf.server_model }}
					</td>
					<!--  14  -->
					<td class="table-tight" name="server_usage">
						{{ sbf.server_usage }}
					</td>
					<!--  15  -->
					<td class="table-tight" name="vlan-type">
						{% if sbf.get('vlan-type', '') == 'Standard' %}
						Stand.{% endif %}
						{% if sbf.get('vlan-type', '') == 'Dedicated' %}
						Dedic.{% endif %}
					</td>
					<!--  16  -->
					<td class="table-tight text-center" name="total_nr_of_cores">
						{{ sbf.total_nr_of_cores }}
					</td>
					<!--  17  -->
					<td style="white-space: nowrap;"
						class="table-tight text-center" name="cputype">
						{{ sbf.cputype }}
					</td>
					<!--  18  -->
					<td class="table-tight text-center" name="ram">
						{{ sbf.ram }}
					</td>
					<!--  19  -->
					{% if sbf.get('os_hdd_size', '') != '' %}
					<td class="table-tight text-center" name="os_hdd_size_real">
						{{ sbf.os_hdd_size_real }}
					</td>
					{% else %}
					<td class="table-tight text-center" name="os_hdd_size_real"></td>
					{% endif %}

					<!--  20  -->
					{% if sbf.get('data_hdd_size', '') != '' %}
					<td class="table-tight text-center" name="data_hdd_size_real">
						{{ sbf.data_hdd_size_real }}
					</td>
					{% else %}
					<td class="table-tight text-center" name="data_hdd_size_real"></td>
					{% endif %}

					<!--  21  -->
					{% if (sbf.get('cluster', False) == False or clusters.get(sbf._id) == None) and sbf.get('as_cluster',False) == False %}
					<td class="table-tight text-center" name="cluster">
						<span class="glyphicon glyphicon-remove"></span>
					</td>
					{% else %}

					{% set cluster = clusters.get(sbf._id) %}
					{% set clusterstr = [] %}
					{% if cluster.get('cluster_hasHA', False) %}
					{% do clusterstr.append("HA") %}
					{% endif %}
					{% if cluster.get('cluster_hasDR', False) %}
					{% do clusterstr.append("DR") %}
					{% endif %}
					{% if cluster.get('cluster_hasAC', False) %}
					{% do clusterstr.append("AC") %}
					{% endif %}
					{% if cluster.get('cluster_platform') %}
					{%  do clusterstr.append(clusters.get(sbf._id,{}).get('cluster_platform')) %}
					{% endif %}

					<td class="table-tight text-center" name="cluster">
						#
						<b>
							{{ cluster.get('_id')}}
						</b>

						{% if cluster.get('cluster_type', False) %}
						<br>
						{{cluster.get('cluster_type')}}
						{% endif %}

						{% for clusterdesc in clusterstr %}
						{% if loop.first %}
						<br>
						{% endif %}
						{{ clusterdesc }}
						{% endfor %}
					</td>
					{% endif %}
					<!--  22  -->
					<td class="table-tight" name="delayed_why">
						{{ sbf.delayed_why }}
					</td>
					<!--  23  -->
					<td class="table-tight" name="aredate">
						{% if sbf.get('aredate', '') != '' %}
						{{sbf.get('aredate', '').strftime('%d-%m-%Y')}}
						{% endif %}
					</td>
					<!--  24  -->
					<td style="white-space: nowrap;"
						class="table-tight text-center" name="srm_requested">
						{{ sbf.srm_requested and "YES" or "NO"}}
					</td>
					<!--  25  -->
					<td style="white-space: nowrap;"
						class="table-tight text-center" name="fitCloud">
						{% if sbf.get('fit_to_cloud') == True %}
							{% if sbf.get('fit_to_cloud_attribute') == 'FULL' %}
								YES F
							{% elif sbf.get('fit_to_cloud_attribute') == 'PARTIAL' %}
								YES P
							{% else %}
								YES
							{% endif %}
						{% endif %}
						{% if sbf.get('fit_to_cloud') == False %}
							NO
						{% endif %}
					</td>

					<!--  26  -->
					{% set storage=[] %}
					{% if sbf.get('tier0-in', '') != '' %}
					{% do storage.append("T0:" + sbf.get('tier0-in')) %}
					{% endif %}
					{% if sbf.get('tier1-in', '') != '' %}
					{% do storage.append("T1:" + sbf.get('tier1-in')) %}
					{% endif %}

					{% set server_model = sbf.get('server_model') %}
					{% if server_model == 'T1 VM' %}
					{% do storage.append("T1:" + (sbf.get('os_hdd_size_real',0)|int + sbf.get('data_hdd_size_real',0)|int )|string) %}
					{% endif %}

					{% if sbf.get('tier2-in', '') != '' %}
					{% do storage.append("T2:" + sbf.get('tier2-in')) %}
					{% endif %}

					{% set server_model = sbf.get('server_model') %}
					{% if server_model == 'T2 VM' %}
					{% do storage.append("T2:" + (sbf.get('os_hdd_size_real',0)|int + sbf.get('data_hdd_size_real',0)|int )|string) %}
					{% endif %}

					{% if sbf.get('tier3-in', '') != '' %}
					{% do storage.append("T3:" + sbf.get('tier3-in')) %}
					{% endif %}
					{% if sbf.get('tier4-in', '') != '' %}
					{% do storage.append("T4:" + sbf.get('tier4-in')) %}
					{% endif %}

					<td class="table-tight" name="tiers">
						{% for san in storage %}
						{{ san }}
						{% if not loop.last %}
						<br>
						{% endif %}
						{% endfor %}
					</td>
					<!--  27  -->
					{% if sbf.get('cluster', False) == False or clusters.get(sbf._id) == None %}
					<td class="table-tight" name="shared"></td>
					{% else %}

					{% set cluster = clusters.get(sbf._id) %}
					{% set clusterstr = [] %}

					{% if cluster.get('cluster_HASharedTier0Size', False) %}
					{% do clusterstr.append("T0HA " + cluster.get('cluster_HASharedTier0Size')) %}
					{% endif %}
					{% if cluster.get('cluster_HASharedTier1Size', False) %}
					{% do clusterstr.append("T1HA " + cluster.get('cluster_HASharedTier1Size')) %}
					{% endif %}
					{% if cluster.get('cluster_HASharedTier2Size', False) %}
					{% do clusterstr.append("T2HA " + cluster.get('cluster_HASharedTier2Size')) %}
					{% endif %}
					{% if cluster.get('cluster_DRSharedTier0Size', False) %}
					{% do clusterstr.append("T0DR " + cluster.get('cluster_DRSharedTier0Size')) %}
					{% endif %}
					{% if cluster.get('cluster_DRSharedTier1Size', False) %}
					{% do clusterstr.append("T1DR " + cluster.get('cluster_DRSharedTier1Size')) %}
					{% endif %}
					{% if cluster.get('cluster_DRSharedTier2Size', False) %}
					{% do clusterstr.append("T2DR " + cluster.get('cluster_DRSharedTier2Size')) %}
					{% endif %}
					<!-- 28 -->
					<td class="table-tight" name="shared">
						{% for clusterdesc in clusterstr %}
						{{ clusterdesc }}
						{% if not loop.last %}
						<br>
						{% endif %}
						{% endfor %}
					</td>

					{% endif %}
					<!-- 29  -->
					<td style="padding-top: 2px;padding-bottom: 2px; min-width: 130px;">
						<div class="btn-group">
							<button type="button"
							 class="btn btn-xs btn-danger dropdown-toggle"
				data-toggle="dropdown">
								Action
								<span class="caret"></span>
							</button>

							<ul class="dropdown-menu dropdown-menu-right">
								<li>
									<a href="{{ url_for('sbfmanager.sbf', sbfid=sbf._id, action='print', **filters) }}">Print</a>
								</li>
								<li>
									<a href="{{ url_for('sbfmanager.history', sbfid=sbf._id, prev_url=urls[sbf._id]) }}">History</a>
								</li>
								<li role="separator"
									class="divider"></li>
								<li>
									<a href="#"
										data-toggle="modal"
										data-target="#modalCloneSBF"
										data-sbfid="{{ sbf._id }}">Clone
									</a>
								</li>
								<li>
									<a href="#"
										data-toggle="modal"
										data-target="#modalExportSBF"
										data-sbfid="{{ sbf._id }}">Export
									</a>
								</li>
								{% if project.project_lock != True or current_user.in_roles(['admin', 'rmg']) %}
								<li>
									<a href="#"
										data-toggle="modal"
										data-target="#modalDeleteConfirm"
										data-confirm-msg="SBF {{ sbf._id }} of project {{ sbf.projectid }}, {{ sbf.RFC }}"
										data-key="sbfid"
										data-val="{{ sbf._id }}">Delete
									</a>
								</li>
								{% endif %}
							</ul>

						</div>
					</td>
					<!-- 30 -->
					<td></td>
				</tr>
				{% endfor %}

			</tbody>
		</table>
	</div>
</div>

<div class="modal fade"
	id="modalGSNService"
	tabindex="-1">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">

			<div class="modal-header">
				<h4 class="modal-title">Choose GSN Service</h4>
			</div>

			<div class="modal-body">

				<div class="row">
					<div class="form-group col-sm-8"
						style="margin-left: 0px; margin-right: 0px;">
					</div>
				</div>

				<div class="row">
					<div class="form-group col-sm-12"
						style="margin-left: 0px; margin-right: 0px;">
						<label for="serviceSearchResult">Service:</label>
						<span id="gsn-service-no-service-found-span"
							style="display:none">No GSN Service found.</span>
						<select class="form-control"
							id="serviceSearchResult"
							name="GSNService"></select>
					</div>
				</div>

			</div>

			<div class="modal-footer">
				<button class="btn btn-default"
					type="button"
					data-dismiss="modal">Close</button>
				<button class="btn btn-primary"
					type="button"
                    class="disabled"
					id="projectGSNServiceBtn">
					<span class="glyphicon glyphicon-ok"></span> Add to SBFs</button>
			</div>

		</div>
	</div>
</div>

<div class="modal fade"
	id="modalExportSBF"
	tabindex="-1">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">

			<form action="{{ url_for('sbfmanager.sbf_export_ui') }}"
				method="GET">
				<input type="hidden"
				name="sbfid" />

				<div class="modal-header">
					<h4 class="modal-title">Export SBF</h4>
				</div>

				<div class="modal-body">
					<div class="form-group">
						<label for="exportContent">Content:</label>
						<select id="exportContent"
							class="form-control"
							name="content">
							<option value="general">General Info</option>
							<option value="storage">Storage</option>
							<option value="cluster">Cluster</option>
							<option value="users">Users</option>
							<option value="groups">Groups</option>
							<option value="license">Information for License Management</option>
							<option value="oat">Information for OAT</option>
							<option value="vm">Virtual Machine</option>
							<option value="esm">Support Model</option>
							<option value="sudo">Sudo Access</option>
							<option value="osparams">OS Parameters</option>
							<option value="pat">Data for PAT</option>
						</select>
					</div>
				</div>

				<div class="modal-footer">
					<button class="btn btn-default"
						type="button"
						data-dismiss="modal">Close</button>
					<button class="btn btn-info"
						type="submit"
						id="projectExportBtn">
						<span class="glyphicon glyphicon-share"></span>Export</button>
				</div>

			</form>

		</div>
	</div>
</div>

<div class="modal fade"
	id="modalCloneSBF"
	tabindex="-1">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">

			<form action="{{ url_for('sbfmanager.sbf', page=page, **filters) }}"
				method="POST">

				<input type="hidden"
				name="sbfid" />
				<input type="hidden"
				name="action"
				value="clone" />

				<div class="modal-header">
					<h4 class="modal-title">Clone SBF</h4>
				</div>

				<div class="modal-body">
					<div class="row">
						<div class="form-group col-sm-3">
							Number of clones
						</div>
						<div class="form-group col-sm-3">
							<input name="numberOfClones" type="number" value="1" min="1" max="100"/>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-sm-12">

							<label class="radio-inline">
								<input type="radio"
								name="cloneTo"
								checked
								value="cloneInsideProject"> Clone inside of the {{ 'proposal' if project.get('sapcrm') else 'project'}}
							</label>
							<label class="radio-inline">
								<input type="radio"
								name="cloneTo"
								value="cloneToDifferentProject"> Clone to different project
							</label>
							<label class="radio-inline">
								<input type="radio"
								name="cloneTo"
								value="cloneToDifferentProposal"> Clone to different proposal
							</label>

						</div>
					</div>

					<div id="cloneToDifferentProjectDiv"
						style="display: none">
						<div class="row">
							<div class="form-group col-sm-8">
								<label for="projectSearchInput">Project - search with Id, RFC or GSN Short Description</label>
								<div class="input-group">
									<input class="form-control"
									id="projectSearchInput"
									type="text"
									disabled="disabled" />
									<div class="input-group-btn">
										<button id="fetchproject"
											class="btn btn-success"
											data-url="{{ url_for('projectmanager.search_project') }}"
											disabled="disabled">
											<span class="glyphicon glyphicon-arrow-right"></span>
										</button>
									</div>
								</div>
								<span id="sbf-clone-no-projects-found-span"
									style="display:none">No project found.</span>
							</div>
						</div>

						<div class="row">
							<div class="form-group col-sm-12">
								<select class="form-control"
									id="projectSearchResult"
									name="cloneToProject"
									disabled="disabled">
								</select>
							</div>
						</div>
					</div>

					<div id="cloneToDifferentProposalDiv"
						style="display: none">
						<div class="row">
							<div class="form-group col-sm-8">
								<label for="proposalSearchInput">Proposal - search by ID, Proposal ID or Proposal name</label>
								<div class="input-group">
									<input class="form-control"
									id="proposalSearchInput"
									type="text"
									disabled="disabled" />
									<div class="input-group-btn">
										<button id="fetchproposal"
											class="btn btn-success"
											data-url="{{ url_for('proposalmanager.search_proposal') }}"
											disabled="disabled">
											<span class="glyphicon glyphicon-arrow-right"></span>
										</button>
									</div>
								</div>
								<span id="sbf-clone-no-proposals-found-span"
									style="display:none">No proposal found.</span>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-sm-12">
								<select class="form-control"
									id="proposalSearchResult"
									name="cloneToProposal"
									disabled="disabled">
								</select>
							</div>
						</div>
					</div>

				</div>

				<div class="modal-footer">
					<button class="btn btn-default"
						type="button"
						data-dismiss="modal">Close</button>
					<button class="btn btn-info"
						type="submit"
						id="projectCloneBtn">
						<span class="glyphicon glyphicon-share"></span> Clone</button>
				</div>

			</form>

		</div>
	</div>
</div>

<div class="modal fade"
	id="modalDeleteConfirm"
	tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">

			<form action="{{ url_for('sbfmanager.sbf', page=page, **filters) }}"
				method="POST">
				<input type="hidden"
				name="sbfid" />
				<div class="modal-header">
					<button type="button"
						class="close"
						data-dismiss="modal">×</button>
					<h4 class="modal-title">Confirm deletion of following items.</h4>
				</div>
				<div class="modal-body">
					Confirm delete action.
				</div>
				<div class="modal-footer">
					<button class="btn btn-danger"
						type="submit"
						name="action"
						value="delete">
						<span class="glyphicon glyphicon-trash"></span> Delete</button>
					<button class="btn btn-default"
						type="button"
						data-dismiss="modal">Close</button>
				</div>
			</form>

		</div>
	</div>
</div>

<div class="modal fade"
	id="modalExportCpuTypes"
	tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">

			<form action="{{ url_for('sbfmanager.cpu_types_sbfs', **filters) }}"
				method="GET">
				<div class="modal-header">
					<button type="button"
						class="close"
						data-dismiss="modal">×</button>
					<h4 class="modal-title">CPU Types Export</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label class="control-label"
							for="cpu_type_export_month">Month</label>
						<input type="text"
						class="form-control"
						id="cpu_type_export_month"
						name="cpu_type_export_month"
						placeholder="YYYY/MM" />
						<span>Leave the month empty for full export.</span>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-default"
						type="button"
						data-dismiss="modal">Close</button>
					<button class="btn btn-success"
						type="submit">
						<span class="glyphicon glyphicon-export"></span> Export</button>
				</div>
			</form>

		</div>
	</div>
</div>

<div class="modal fade"
	id="modalGSNBuildCompletedRequest"
	tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">

			<div>
				<div class="modal-header">
					<button type="button"
						class="close"
						data-dismiss="modal">×</button>
					<h4 class="modal-title">Builds Are Completed Task Creation</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label class="control-label"
							for="workstart">ARE Handover Date</label>
						<input type="text"
						class="form-control"
						id="workstart"
						name="workstart"
						placeholder="YYYY/MM/DD" />
						<span>Leave the field empty for current date.</span>
					</div>
					<div class="form-group">
						<label class="control-label"
							for="delayed_why">Delayed Why</label>
						<textarea rows=5
							class="form-control"
							id="delayed_why"
							name="delayed_why"></textarea>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
						<button data-href="{{ url_for('sbfmanager.gsn_build_completed_request', page=page, **filters) }}"
							id="GSNBuildCompletedButton"
							class="btn btn-success"
							type="button">
							<span class="glyphicon glyphicon-check"></span> Create</button>
				</div>
			</div>

		</div>
	</div>
</div>

<!-- delete SBF custom profile -->
<div class="modal fade" id="modalDeleteProfileSBFConfirm" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div>
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">×</button>
					<h4 class="modal-title">Confirm deletion of custom profile</h4>
				</div>
				<div class="modal-body">
					Confirm delete action.
				</div>
				<div class="modal-footer">
					<button class="btn btn-danger" type="button" data-dismiss="modal">Close</button>
					<button data-href="{{ url_for('sbflist_config.sbf_remove_profile', page=page, **filters) }}"
							id="sbf_profile_remove_custom_profile_btn" class="btn btn-success" type="button">
							<span class="glyphicon glyphicon-trash"></span> Delete
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">

	<div style="float:left; margin-top: 7px; margin-left: 15px; ">

		<div class="btn-group">

			<button type="button"
				class="btn btn-sm btn-default dropdown-toggle rowcheck-btn-group"
				data-toggle="dropdown"
				title="Create GSN Tasks or Configuration Items">
				<span class="glyphicon glyphicon-check"></span> GSN Action
				<span class="caret"></span>
			</button>

			<ul class="dropdown-menu">

				{% if current_user.in_roles(['admin', 'rmg', 'cap', 'cfg']) and filters.filter_projectid %}
				<li>
					<a href="{{ url_for('sbfmanager.gsn_configuration_item', page=page, **filters) }}"
						class="rowcheck-btn">Create Configuration Item</a>
				</li>
				{% endif %}

                <li>
                    <a href="#" id="btnAddService" title="Add Service" class="rowcheck-btn">Add Service</a>
                </li>

				{% if current_user.in_roles(['admin', 'rmg', 'cap']) and filters.filter_projectid %}
				<li>
					<a href="{{ url_for('sbfmanager.gsn_comm_request', page=page, **filters) }}"
						class="rowcheck-btn">Create Commission Request</a>
				</li>
				<li role="separator"
					class="divider"></li>
				<li>
					<a href="{{ url_for('sbfmanager.gsn_build_db_request', page=page, **filters) }}"
						class="rowcheck-btn">Create Build Database Task</a>
				</li>
				<li>
					<a href="{{ url_for('sbfmanager.gsn_build_mw_request', page=page, **filters) }}"
						class="rowcheck-btn">Create Build Middleware Task</a>
				</li>
				<li>
					<a href="{{ url_for('sbfmanager.gsn_build_backup_request', page=page, **filters) }}"
						class="rowcheck-btn">Create Build Backup Task</a>
				</li>
				<li>
					<a href="{{ url_for('sbfmanager.gsn_build_mon_request', page=page, **filters) }}"
						class="rowcheck-btn">Create Build Monitoring Task</a>
				</li>
				<li role="separator"
					class="divider"></li>
				<li>
					<a href="#"
						data-toggle="modal"
						data-target="#modalGSNBuildCompletedRequest">Create ARE completed</a>
				</li>
				{% endif %}
			</ul>

		</div>

	</div>

	<div class="btn-group"
		style="float: right; margin-right: 15px; margin-top: 7px;">

		<button type="button"
			class="btn btn-sm btn-default dropdown-toggle"
			data-toggle="dropdown"
			title="Select number of rows on the page.">
			<span class="glyphicon glyphicon-list"></span>
			{{pagesize}}
			<span class="caret"></span>
		</button>

		<ul class="dropdown-menu dropdown-menu-right"
			style="width: 62px; min-width: 62px;"
			data-pagesize-name='sbflist-pagesize'>

			<li>
				<a href="#"
					class="pagesize-submit">10</a>
			</li>
			<li>
				<a href="#"
					class="pagesize-submit">15</a>
			</li>
			<li>
				<a href="#"
					class="pagesize-submit">20</a>
			</li>
			<li>
				<a href="#"
					class="pagesize-submit">30</a>
			</li>
			<li>
				<a href="#"
					class="pagesize-submit">60</a>
			</li>
			<li>
				<a href="#"
					class="pagesize-submit">100</a>
			</li>

		</ul>

	</div>

	<div style="float:right; margin-right: 5px; margin-top: 11px; ">
		Total: {{count}} SBF's</div>

</div>

<div class="row">
		<div class="text-center">

			<ul class="pagination"
				style="margin-top: 7px; ">

				{% set min_page = 1 %}
				{% set max_page = 1 + (count-1) // pagesize %}
				{% set next_page = page + 10 - (page-1) % 10 %}
				{% set prev_page = next_page - 11 %}

				<li {% if prev_page < min_page %}
					class="disabled"
					{% endif %}>
					<a href={% if prev_page >= min_page %}
						"{{ url_for('sbfmanager.sbf', page = prev_page, **filters) }}"
						{% else %}
						"#"
						{% endif %}>Prev</a>
				</li>

				{% for i in range(prev_page + 1, next_page) %}
				{% if i <= max_page %}
				<li {% if page == i %}
		 class="active"
	 {% endif %}>
					<a href="{{ url_for('sbfmanager.sbf', page = i, **filters) }}">
						{{ i }}
					</a>
				</li>
				{% endif %}
				{% endfor %}

				<li {% if next_page > max_page %}
					class="disabled"
					{% endif %}>
					<a href={% if next_page <= max_page %}
					"{{ url_for('sbfmanager.sbf', page = next_page, **filters) }}"
		 {% else %}
		 "#"
		 {% endif %}>Next</a>
				</li>

			</ul>

		</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<ul class="list-inline">
			<li>
				<span {{ star('proposal') }}
					class="glyphicon sbfstar glyphicon-tags"></span> Proposal Phase</li>
			<li>
				<span {{ star('draft') }}
					class="glyphicon sbfstar glyphicon-tags"></span> Draft Phase</li>
			<li>
				<span {{ star('aip') }}
					class="glyphicon sbfstar glyphicon-tags"></span> In Approval</li>
			<li>
				<span {{ star('build') }}
					class="glyphicon sbfstar glyphicon-tags"></span> Build Phase</li>
			<li>
				<span {{ star('prod') }}
					class="glyphicon sbfstar glyphicon-tags"></span> Production Phase</li>
			<li>
				<span {{ star('decommission') }}
					class="glyphicon sbfstar glyphicon-tags"></span> Decommission Phase</li>
		</ul>
	</div>
</div>

{% include 'sbfmanager/sbfdetail_export.html' %}
{% endblock body %}
{% block javascript %}
<script type="text/javascript">
{% include "sbfmanager/sbflist.js" %}
{% include 'profile_settings.js' %}
</script>

{% include "sbfmanager/sbflist_config.html" %}
{% endblock javascript %}

