
<!-- Modal -->
<div class="modal fade" id="sbflist_config" tabindex="-1" role="dialog" aria-labelledby="SBFListmodalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="sbfListConfig">SBF List Configuration</h4>
			</div>
			<form role="form" method="POST" id="sbflist_config_form">
				<div class="modal-body">
					<input type="hidden" name="profilesettings" value="{{profilesettings}}" />
					<div class="pre-scrollable">
						<div style="overflow: auto;">
							<table id="sbflist_profilesettings_table" class="table table-hover" style="font-size: 12px; width: auto">
								<thead class="thead-inverse">
									<tr>
										<th>#</th>
										<th>Column</th>
										<th>Sort</th>
										<th>Filter</th>
									</tr>
								</thead>

								<tbody class="columns">
									<tr name="_id">
										<th scope="row"><div style="width: 33px;">1</div></th>
										<td class="visible table-tight" name="_id"><label
											class="checkbox"> <input type="checkbox"
											class="rowcheck input-sm" disabled="disabled" />ID
										</label></td>
										<td class="sort" name="_id"><a
											class="btn btn-sm btn-default-none"> <span
												class="glyphicon glyphicon-remove"></span>
										</a></td>
										<td class="filter" name="_id" data-type="int">
											<div class="has-feedback">
												<input type="text" class="form-control filterable input-sm">
												<span
													class="glyphicon glyphicon-remove form-control-feedback filter-rem-profile-btn"></span>
											</div>
										</td>
									</tr>
									<tr name="com_rfc_no">
										<th scope="row">2</th>
										<td class="visible table-tight" name="com_rfc_no"><label
											class="checkbox"> <input type="checkbox"
											class="rowcheck input-sm" />CRFC
										</label></td>
										<td class="sort" name="com_rfc_no"><a
											class="btn btn-sm btn-default-none"> <span
											class="glyphicon glyphicon-remove"></span>
										</a></td>
										<td class="filter" name="com_rfc_no" data-type="int">
											<div class="has-feedback">
												<input type="text" class="form-control filterable input-sm">
												<span
													class="glyphicon glyphicon-remove form-control-feedback filter-rem-profile-btn"></span>
											</div>
										</td>
									</tr>
									<tr name="phase">
										<th scope="row">3</th>
										<td class="visible" name="phase"><label class="checkbox">
												<input type="checkbox" class="rowcheck" />Phase
										</label></td>
										<td class="sort" name="phase"><a
											class="btn btn-sm btn-default-none"> <span
												class="glyphicon glyphicon-remove"></span>
										</a></td>
										<td class="filter" name="phase">
											<select id="sbflist_profile_phase" data-show-icon="true" class="form-control input-sm selectpicker" single>
												<option data-content="<span class='glyphicon sbfstar glyphicon-tags text-right' style='background: #f0ad4e'></span>       Draft phase">
														proposal
												</option>
												<option data-content="<span class='glyphicon sbfstar glyphicon-tags text-right' style='background: #cc1b00'></span>       In Approval">
														aip
												</option>
												<option data-content="<span class='glyphicon sbfstar glyphicon-tags text-right' style='background: #5cb85c'></span>       Build Phase">
														build
												</option>
												<option data-content="<span class='glyphicon sbfstar glyphicon-tags text-right' style='background: #337ab7'></span>       Production Phase">
														prod
												</option>
												<option data-content="<span class='glyphicon sbfstar glyphicon-tags text-right' style='background: black'></span>       Decommission phase">
														decommission
												</option>
												<option></option>
											</select>
										</td>
									</tr>
									<tr name="project_server_name">
										<th scope="row">5</th>
										<td class="visible" name="project_server_name"><label
											class="checkbox"> <input type="checkbox"
												class="rowcheck" />Project Server Name
										</label></td>
										<td class="sort" name="project_server_name"><a
											class="btn btn-sm btn-default-none"> <span
												class="glyphicon glyphicon-remove"></span>
										</a></td>
										<td class="filter" name="project_server_name">
											<div class="has-feedback">
												<input type="text" class="form-control filterable input-sm">
												<span
													class="glyphicon glyphicon-remove form-control-feedback filter-rem-profile-btn"></span>
											</div>
										</td>
									</tr>
									<tr name="server_hostname">
										<th scope="row">5</th>
										<td class="visible" name="server_hostname"><label
											class="checkbox"> <input type="checkbox"
												class="rowcheck" />Hostname
										</label></td>
										<td class="sort" name="server_hostname"><a
											class="btn btn-sm btn-default-none"> <span
												class="glyphicon glyphicon-remove"></span>
										</a></td>
										<td class="filter" name="server_hostname">
											<div class="has-feedback">
												<input type="text" class="form-control filterable input-sm">
												<span
													class="glyphicon glyphicon-remove form-control-feedback filter-rem-profile-btn"></span>
											</div>
										</td>
									</tr>
									<tr name="location">
										<th scope="row">6</th>
										<td class="visible" name="location"><label
											class="checkbox"> <input type="checkbox"
												class="rowcheck" />Location
										</label></td>
										<td class="sort" name="location"><a
											class="btn btn-sm btn-default-none" disabled="disabled"> <span
												class="glyphicon glyphicon-remove"></span>
										</a></td>
										<td class="filter" name="location">
											<div class="has-feedback">
												<input type="text" class="form-control filterable input-sm">
												<span
													class="glyphicon glyphicon-remove form-control-feedback filter-rem-profile-btn"></span>
											</div>
										</td>
									</tr>
									<tr name="server_env">
										<th scope="row">7</th>
										<td class="visible" name="server_env"><label
											class="checkbox"> <input type="checkbox"
												class="rowcheck" />Env. (Server Environment)
										</label></td>
										<td class="sort" name="server_env"><a
											class="btn btn-sm btn-default-none"> <span
												class="glyphicon glyphicon-remove"></span>
										</a></td>
										<td class="filter" name="server_env">
											<div class="has-feedback">
												<input type="text" class="form-control filterable input-sm">
												<span
													class="glyphicon glyphicon-remove form-control-feedback filter-rem-profile-btn"></span>
											</div>
										</td>
									</tr>
									<tr name="platform">
										<th scope="row">8</th>
										<td class="visible" name="platform"><label
											class="checkbox"> <input type="checkbox"
												class="rowcheck" />Platform
										</label></td>
										<td class="sort" name="platform"><a
											class="btn btn-sm btn-default-none"> <span
												class="glyphicon glyphicon-remove"></span>
										</a></td>
										<td class="filter" name="platform">
											<div class="has-feedback">
												<input type="text" class="form-control filterable input-sm">
												<span
													class="glyphicon glyphicon-remove form-control-feedback filter-rem-profile-btn"></span>
											</div>
										</td>
									</tr>
									<tr name="release">
										<th scope="row">9</th>
										<td class="visible" name="release"><label
											class="checkbox"> <input type="checkbox"
												class="rowcheck" />Release
										</label></td>
										<td class="sort" name="release"><a
											class="btn btn-sm btn-default-none"> <span
												class="glyphicon glyphicon-remove"></span>
										</a></td>
										<td class="filter" name="release">
											<div class="has-feedback">
												<input type="text" class="form-control filterable input-sm">
												<span
													class="glyphicon glyphicon-remove form-control-feedback filter-rem-profile-btn"></span>
											</div>
										</td>
									</tr>
									<tr name="server_model">
										<th scope="row">10</th>
										<td class="visible" name="server_model"><label
											class="checkbox"> <input type="checkbox"
												class="rowcheck" />HW
										</label></td>
										<td class="sort" name="server_model"><a
											class="btn btn-sm btn-default-none"> <span
												class="glyphicon glyphicon-remove"></span>
										</a></td>
										<td class="filter" name="server_model">
											<div class="has-feedback">
												<input type="text" class="form-control filterable input-sm">
												<span
													class="glyphicon glyphicon-remove form-control-feedback filter-rem-profile-btn"></span>
											</div>
										</td>
									</tr>
									<tr name="server_usage">
										<th scope="row">11</th>
										<td class="visible" name="server_usage"><label
											class="checkbox"> <input type="checkbox"
												class="rowcheck" />Usage
										</label></td>
										<td class="sort" name="server_usage"><a
											class="btn btn-sm btn-default-none"> <span
												class="glyphicon glyphicon-remove"></span>
										</a></td>
										<td class="filter" name="server_usage">
											<div class="has-feedback">
												<input type="text" class="form-control filterable input-sm">
												<span
													class="glyphicon glyphicon-remove form-control-feedback filter-rem-profile-btn"></span>
											</div>
										</td>
									</tr>
									<tr name="vlan-type">
										<th scope="row">12</th>
										<td class="visible" name="vlan-type"><label
											class="checkbox"> <input type="checkbox"
												class="rowcheck" />VLAN
										</label></td>
										<td class="sort" name="vlan-type"><a
											class="btn btn-sm btn-default-none"> <span
												class="glyphicon glyphicon-remove"></span>
										</a></td>
										<td class="filter" name="vlan-type">
											<div class="has-feedback">
												<input type="text" class="form-control filterable input-sm">
												<span
													class="glyphicon glyphicon-remove form-control-feedback filter-rem-profile-btn"></span>
											</div>
										</td>
									</tr>
									<tr name="total_nr_of_cores">
										<th scope="row">13</th>
										<td class="visible" name="total_nr_of_cores"><label
											class="checkbox"> <input type="checkbox"
												class="rowcheck" />Cores
										</label></td>
										<td class="sort" name="total_nr_of_cores"><a
											class="btn btn-sm btn-default-none"> <span
												class="glyphicon glyphicon-remove"></span>
										</a></td>
										<td class="filter" name="total_nr_of_cores">
											<div class="has-feedback">
												<input type="text" class="form-control filterable input-sm">
												<span
													class="glyphicon glyphicon-remove form-control-feedback filter-rem-profile-btn"></span>
											</div>
										</td>
									</tr>
									<tr name="cputype">
										<th scope="row">14</th>
										<td class="visible" name="cputype"><label
											class="checkbox"> <input type="checkbox"
												class="rowcheck" />CPU
										</label></td>
										<td class="sort" name="cputype"><a
											class="btn btn-sm btn-default-none"> <span
												class="glyphicon glyphicon-remove"></span>
										</a></td>
										<td class="filter" name="cputype">
											<div class="has-feedback">
												<input type="text" class="form-control filterable input-sm">
												<span
													class="glyphicon glyphicon-remove form-control-feedback filter-rem-profile-btn"></span>
											</div>
										</td>
									</tr>
									<tr name="ram">
										<th scope="row">15</th>
										<td class="visible" name="ram"><label class="checkbox">
												<input type="checkbox" class="rowcheck" />RAM
										</label></td>
										<td class="sort" name="ram"><a
											class="btn btn-sm btn-default-none"> <span
												class="glyphicon glyphicon-remove"></span>
										</a></td>
										<td class="filter" name="ram">
											<div class="has-feedback">
												<input type="text" class="form-control filterable input-sm">
												<span
													class="glyphicon glyphicon-remove form-control-feedback filter-rem-profile-btn"></span>
											</div>
										</td>
									</tr>
									<tr name="os_hdd_size_real">
										<th scope="row">16</th>
										<td class="visible" name="os_hdd_size_real"><label
											class="checkbox"> <input type="checkbox"
												class="rowcheck" />OS
										</label></td>
										<td class="sort" name="os_hdd_size_real"><a
											class="btn btn-sm btn-default-none"> <span
												class="glyphicon glyphicon-remove"></span>
										</a></td>
										<td class="filter" name="os_hdd_size_real">
											<div class="has-feedback">
												<input type="text" class="form-control filterable input-sm">
												<span
													class="glyphicon glyphicon-remove form-control-feedback filter-rem-profile-btn"></span>
											</div>
										</td>
									</tr>
									<tr name="data_hdd_size_real">
										<th scope="row">17</th>
										<td class="visible" name="data_hdd_size_real"><label
											class="checkbox"> <input type="checkbox"
												class="rowcheck" />Data
										</label></td>
										<td class="sort" name="data_hdd_size_real"><a
											class="btn btn-sm btn-default-none"> <span
												class="glyphicon glyphicon-remove"></span>
										</a></td>
										<td class="filter" name="data_hdd_size_real">
											<div class="has-feedback">
												<input type="text" class="form-control filterable input-sm">
												<span
													class="glyphicon glyphicon-remove form-control-feedback filter-rem-profile-btn"></span>
											</div>
										</td>
									</tr>
									<tr name="clusterId">
										<th scope="row">18</th>
										<td class="visible" name="clusterId"><label
											class="checkbox"> <input type="checkbox"
												class="rowcheck profile-visible" />Cluster
										</label></td>
										<td class="sort" name="clusterId"><a
											class="btn btn-sm btn-default-none"> <span
												class="glyphicon glyphicon-remove"></span>
										</a></td>
										<td class="filter" name="clusterId">
											<div class="has-feedback">
												<input type="text" class="form-control filterable input-sm">
												<span
													class="glyphicon glyphicon-remove form-control-feedback filter-rem-profile-btn"></span>
											</div>
										</td>
									</tr>
									<tr name="aredate">
										<th scope="row">19</th>
										<td class="visible" name="aredate"><label
											class="checkbox"> <input type="checkbox"
												class="rowcheck profile-visible" />ARE Date
										</label></td>
										<td class="sort" name="aredate"><a
											class="btn btn-sm btn-default-none"> <span
												class="glyphicon glyphicon-remove"></span>
										</a></td>
										<td class="filter" name="aredate">
											<div class="has-feedback">
												<input type="text" class="form-control filterable input-sm" style="cursor:pointer;" id="sbflist_config_aredate">
												<span
													class="glyphicon glyphicon-remove form-control-feedback filter-rem-profile-btn"></span>
											</div>
										</td>
									</tr>
									<tr name="delayed_why">
										<th scope="row">4</th>
										<td class="visible" name="delayed_why"><label
												class="checkbox"> <input type="checkbox"
																		 class="rowcheck" />Delayed Why
										</label></td>
										<td class="sort" name="delayed_why"><a
												class="btn btn-sm btn-default-none"> <span
												class="glyphicon glyphicon-remove"></span>
										</a></td>
										<td class="filter" name="delayed_why">
											<div class="has-feedback">
												<input type="text" class="form-control filterable input-sm">
												<span
														class="glyphicon glyphicon-remove form-control-feedback filter-rem-profile-btn"></span>
											</div>
										</td>
									</tr>
									<tr name="srm_requested">
										<th scope="row">20</th>
										<td class="visible" name="srm_requested"><label
											class="checkbox"> <input type="checkbox"
												class="rowcheck profile-visible" />VM DR (SRM) requested
										</label></td>
										<td class="sort" name="srm_requested"><a
											class="btn btn-sm btn-default-none"> <span
												class="glyphicon glyphicon-remove"></span>
										</a></td>
										<td class="filter" name="srm_requested">
											<div class="has-feedback">
												<input type="text" class="form-control filterable input-sm" style="cursor:pointer;" id="sbflist_config_srm_requested">
												<span
													class="glyphicon glyphicon-remove form-control-feedback filter-rem-profile-btn"></span>
											</div>
										</td>
									</tr>
									<tr name="fitCloud">
										<th scope="row">21</th>
										<td class="visible" name="fitCloud"><label
											class="checkbox"> <input type="checkbox"
												class="rowcheck profile-visible" />Fit to Cloud
										</label></td>
										<td class="sort" name="fitCloud"><a
											class="btn btn-sm btn-default-none" disabled="disabled"> <span
												class="glyphicon glyphicon-remove"></span>
										</a></td>
										<td class="filter" name="fitCloud">
											<select id="sbflist_profile_fitCloud" class="form-control input-sm">
												<option value="">&nbsp;</option>
												<option value='NO'>NO</option>
												<option value='YES F'>YES F</option>
												<option value='YES P'>YES P</option>
											</select>
										</td>
									</tr>
									<tr name="tiers">
										<th scope="row">22</th>
										<td class="visible" name="tiers"><label class="checkbox">
												<input type="checkbox" class="rowcheck" />Tiers
										</label></td>
										<td class="sort" name="tiers"><a
											class="btn btn-sm btn-default-none" disabled="disabled">
												<span class="glyphicon glyphicon-remove"></span>
										</a></td>
										<td class="filter" name="tiers">
											<div class="has-feedback">
												<input type="text" class="form-control filterable input-sm"
													disabled="disabled"> <span
													class="glyphicon glyphicon-remove form-control-feedback filter-rem-profile-btn"></span>
											</div>
										</td>
									</tr>
									<tr name="shared">
										<th scope="row">23</th>
										<td class="visible" name="shared"><label class="checkbox">
												<input type="checkbox" class="rowcheck" />Shared
										</label></td>
										<td class="sort" name="shared"><a
											class="btn btn-sm btn-default-none" disabled="disabled">
												<span class="glyphicon glyphicon-remove"></span>
										</a></td>
										<td class="filter" name="shared">
											<div class="has-feedback">
												<input type="text" class="form-control filterable input-sm"
													disabled="disabled"> <span
													class="glyphicon glyphicon-remove form-control-feedback filter-rem-profile-btn"></span>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="modal-footer">
						<div class="form-group">
							<button type="button" class="btn btn-info"
								id="publicUserProfileSBF_btn">Apply default filter</button>
							<button type="button" class="btn btn-default"
								data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary">Save changes</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

{% block javascript %}
<script type="text/javascript">
{% include "sbfmanager/sbflist_config.js" %}
</script>
{% endblock javascript %}
